# Environments
.env
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Data (opcional - si no quieres subir datos grandes)
# data/raw_data/
# data/clean_data/

# IDE
.vscode/
.idea/
*.swp
*.swo

# System
.DS_Store
Thumbs.db
